
# === DEBUG ===

NET "debug_out"	LOC = "P101";

# === CART CONTROL ===

NET "cas0"	LOC = "P10"; # /OE
NET "ce_0"	LOC = "P12"; # /CE
NET "vres"	LOC = "P27"; # /RST
NET "lwr"	LOC = "P30"; # /WR
NET "tme"	LOC = "P33"; # /TIME

# === CART ADDRESS ===

NET "cart_address<1>"  LOC = "P11";
NET "cart_address<2>"  LOC = "P7";
NET "cart_address<3>"  LOC = "P5";
NET "cart_address<4>"  LOC = "P3";
NET "cart_address<5>"  LOC = "P140";
NET "cart_address<6>"  LOC = "P136";
NET "cart_address<7>"  LOC = "P132";
NET "cart_address<8>"  LOC = "P128";

NET "cart_address<9>"  LOC = "P129";
NET "cart_address<10>"  LOC = "P131";
NET "cart_address<11>"  LOC = "P130";
NET "cart_address<12>"  LOC = "P134";
NET "cart_address<13>"  LOC = "P138";
NET "cart_address<14>"  LOC = "P143";
NET "cart_address<15>"  LOC = "P4";
NET "cart_address<16>"  LOC = "P6";

NET "cart_address<17>"  LOC = "P9";
NET "cart_address<18>"  LOC = "P133";
NET "cart_address<19>"  LOC = "P135";
NET "cart_address<20>"  LOC = "P137";
NET "cart_address<21>"  LOC = "P139";
NET "cart_address<22>"  LOC = "P142";
NET "cart_address<23>"  LOC = "P2";

# === CART DATA ===

NET "cart_data<0>"  LOC = "P14";
NET "cart_data<1>"  LOC = "P19";
NET "cart_data<2>"  LOC = "P25";
NET "cart_data<3>"  LOC = "P31";
NET "cart_data<4>"  LOC = "P28";
NET "cart_data<5>"  LOC = "P23";
NET "cart_data<6>"  LOC = "P16";
NET "cart_data<7>"  LOC = "P13";

NET "cart_data<8>"   LOC = "P15";
NET "cart_data<9>"   LOC = "P21";
NET "cart_data<10>"  LOC = "P26";
NET "cart_data<11>"  LOC = "P32";
NET "cart_data<12>"  LOC = "P24";
NET "cart_data<13>"  LOC = "P22";
NET "cart_data<14>"  LOC = "P20";
NET "cart_data<15>"  LOC = "P17";

# === ROM CONTROL ===

NET "rom_oe<0>"  LOC = "P40";
NET "rom_oe<1>"  LOC = "P91";
#NET "rom_oe<2>"  LOC = "P93";
#NET "rom_oe<3>"  LOC = "P95";

NET "rom_ce<0>"  LOC = "P39";
NET "rom_ce<1>"  LOC = "P88";
#NET "rom_ce<2>"  LOC = "P92";
#NET "rom_ce<3>"  LOC = "P94";

NET "sram_oe"  LOC = "P97";
NET "sram_ce"  LOC = "P96";
NET "sram_we"  LOC = "P98";


# === ROM ADDRESS ===

NET "rom_address<0>"  LOC = "P38";
NET "rom_address<1>"  LOC = "P87";
NET "rom_address<2>"  LOC = "P86";
NET "rom_address<3>"  LOC = "P85";
NET "rom_address<4>"  LOC = "P83";
NET "rom_address<5>"  LOC = "P82";
NET "rom_address<6>"  LOC = "P81";
NET "rom_address<7>"  LOC = "P80";

NET "rom_address<8>"  LOC = "P74";
NET "rom_address<9>"  LOC = "P71";
NET "rom_address<10>"  LOC = "P70";
NET "rom_address<11>"  LOC = "P69";
NET "rom_address<12>"  LOC = "P68";
NET "rom_address<13>"  LOC = "P66";
NET "rom_address<14>"  LOC = "P64";
NET "rom_address<15>"  LOC = "P61";

NET "rom_address<16>"  LOC = "P60";
NET "rom_address<17>"  LOC = "P79";
NET "rom_address<18>"  LOC = "P78";
NET "rom_address<19>"  LOC = "P75";
NET "rom_address<20>"  LOC = "P76";
NET "rom_address<21>"  LOC = "P77";

# === ROM DATA ===

NET "rom_data<0>"  LOC = "P41";
NET "rom_data<1>"  LOC = "P44";
NET "rom_data<2>"  LOC = "P46";
NET "rom_data<3>"  LOC = "P49";
NET "rom_data<4>"  LOC = "P51";
NET "rom_data<5>"  LOC = "P53";
NET "rom_data<6>"  LOC = "P56";
NET "rom_data<7>"  LOC = "P58";

NET "rom_data<8>"  LOC = "P43";
NET "rom_data<9>"  LOC = "P45";
NET "rom_data<10>"  LOC = "P48";
NET "rom_data<11>"  LOC = "P50";
NET "rom_data<12>"  LOC = "P52";
NET "rom_data<13>"  LOC = "P54";
NET "rom_data<14>"  LOC = "P57";
NET "rom_data<15>"  LOC = "P59";
